<h1>{{title}}</h1>

<body>
    <form class="form-container container">
        <div class="form-group" id="maleOrFemale">
            <label for="maleOrFemale">Please enter your sex:</label>
            <br>
            <div class="form-check form-check-inline">
                <input id="male" type="radio" class="form-check-input" name="sex" value="male" />
                <label for="male" class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input id="female" type="radio" class="form-check-input" name="sex" value="female" />
                <label for="female" class="form-check-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="age">Please enter your age:</label>
            <input id="age" type="number" class="form-control">
        </div>

        <div class="form-group">
            <label for="weight">Please enter your weight:</label>
            <input id="weight" type="number" class="form-control">
        </div>

        <div class="btn-group" role="group" aria-label="Weight Selection">
            <input id="lbsButton" type="radio" class="btn-check" name="weight" checked>
            <label class="btn btn-outline-primary" for="lbsButton">Pounds</label>

            <input id="kgButton" type="radio" class="btn-check" name="weight">
            <label class="btn btn-outline-primary" for="kgButton">Kilograms</label>
        </div>

        <p>Please select your activity level:</p>
        <div class="form-floating">
            <select class="form-select" id="activityLevel" aria-label="Activity Level Selection Menu:">
                <option selected>Choose Activity Level</option>
                <option value="light">Light</option>
                <option value="moderate">Moderate</option>
                <option value="intense">Intense</option>
            </select>
            <label for="activityLevel">Activity Level</label>
        </div>

        <div class="form-group">
            <label for="hoursAndMinsText">Duration:</label>
            <div class="input-group mb-3" id="hoursAndMinsText">
                <input type="text" class="form-control" placeholder="Hours" aria-label="Hours">
                <input type="text" class="form-control" placeholder="Minutes" aria-label="Minutes">

            </div>
        </div>

        <button type="button" class="btn btn-primary btn-lg">Calculate Calories Burned!</button>

    </form>
</body>