@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* LAYOUT */
* {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
}

/* Form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: #FEE6C8;
  border: #CA5833 8px ridge; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  border-radius: 8px; 
  padding: 20px; 
}

.form-floating {
  width: 25%;
}

.form-group {
  padding: 0.8em;
}

.btn-group {
  padding: 0.8em 0;
}

/* TEXT */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/orange-bg23jpg.jpg); 
}

h1,
h2,
h3 {
  font-family: "Anton SC", serif;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 0 #CA5833;
}

h2 {
  font-size: 30px;
}

label {
  color: #CA5833;
}

a {
  color: #FE5F55;
}

.activityText {
  color: #CA5833;
}

.caloriesSpan {
  color: FFA500;
  font-weight: bold;
  font-size: 45px;
}

/* Buttons and Form Inputs */
#lbsButton + label {
  color: #FFA500;
  border: #FFA500 2px solid;
}

#kgButton + label {
  color: #CA5833;
  border: #CA5833 2px solid;
}

#calorieButton {
  margin-bottom: 1em;
}

.form-control {
  border-color: #CA5833; 
}

.form-control:focus {
  border-color: #FE5F55; 
  box-shadow: 0 0 5px rgba(254, 95, 85, 0.5); 
}

.form-select {
  border-color: #CA5833; 
}

.form-select:focus {
  border-color: #FE5F55; 
  box-shadow: 0 0 5px rgba(254, 95, 85, 0.5); 
}

/* Button Overrides */
.btn-primary {
  background-color:#FFA500;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-primary {
  background-color: #FFA500;
  border-color: black;
}

.btn-primary:hover {
  background-color: #D94A45;
  border-color: black;
}

.btn-outline-primary:hover {
  background-color: #FE5F55;
  color: white;
}

.btn-outline-primary {
  --bs-btn-active-bg: white;
  transition: 0.8s;
}